body {
    background-image: url(../images/bg/back1.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
    color: #fff;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #1B197F;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#work,#about, #team, 
#portfolio, #dextra, #contact, #alumni {
   padding-top: 100px;
  padding-bottom: 100px;
}

.centerit {
    display: inline-block;
    float: none;
}


/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
  width: 22px;
  height: 22px;
  position: relative; }
.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #10629e;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.sk-spinner-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-spinner-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-spinner-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-spinner-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-spinner-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-spinner-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-spinner-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-spinner-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-spinner-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-spinner-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-spinner-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-spinner-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-spinner-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-spinner-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-spinner-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }


/* ==========================================================================
navigation section
========================================================================== */
#customlogo {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #28dbff;
}
.custom-navbar #nav-logo {
    padding-top: 5px;
}
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand  {
    color: #00c6d7;
    font-weight: 600;
    font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    }
.custom-navbar .nav li a:hover {
  	background: transparent;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    color: #00c6d7;
    outline: none;
}
.custom-navbar .nav li.active > a {
      color: #29ddff;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #29ddff;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar {
            background: #4B4B4B;
            padding: 10px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #4B4B4B;
        }
}
@media(max-width:992px){
    .custom-navbar #nav-logo {
        max-width: 190px;
    }
}

/* ==========================================================================
home section
========================================================================== */
#home {
  background-size: cover;
  background-position: center;
  color: #29ddff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 40px;
}
#home hr {
  margin-top: 0px;
  width: 300px;
}
#home #logoimg {
  max-width: 100%;
  height: auto;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #10629e;
  border-color: transparent;
}
#home .btn-danger {
  background: #10629e;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}

/* ==========================================================================
team section
========================================================================== */
#team {
  text-align: center;
}
#team .img-thumbnail {
    background: none;
}
#team .modal {
    color: #000;
}
#team #bold {
    color: #1B197F;
    font-size: 16px;
}
#team h3 {
  color: #1B197F;
  font-size: 20px;
  font-weight: bold;
}
#team .section-title h1 {
    font-size: 36px;
}
#team .team-wrapper {
  overflow: hidden;
  position: relative;
}
#team img {
  margin: 0px auto;
  max-width: 170px;
}
#team .section-title {
    padding-bottom: 0;
}
#team .shead{
    color: #28dbff;
    margin-top: 10px;
    margin-bottom: 20px;
}
/**#team .pic {
    width: 200px;
    -webkit-transition: width 0.3s ease-in-out 0s;
    transition: width 0.5s ease-in-out 0s;
}**/
#team a {
    color: #fff;
}
#team a:hover {
    color: #28dbff;
    text-decoration: none;
}
#team a:active, #team a:focus {
    text-decoration: none;
}
/**@media screen and (min-width:992px){
    #team .pic:hover {
        width: 250px;
    }
}**/

/* ==========================================================================
Alumni section
========================================================================== */
#alumni {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
#alumni p {
    font-size: 20px;
    margin-bottom: 30px;
}
#alumni a {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

/* ==========================================================================
Events section
========================================================================== */
#work {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
    
}
#work .col-md-4 {
    padding: 28px;
    position: relative;
    transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
    background-color: rgba(16, 98, 158, 0.3);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.50);
}
#work .col-md-6 {
    padding: 28px;
    position: relative;
    transition: all 0.4s ease-in-out;
}
#work .col-md-6:hover {
    background-color: #424242;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.50);
}
#work h3 {
    font-size: 18px;
    max-height: 19px;
}
.mtab a {
    color: white;
}
.mtab a:hover {
    color: #28dbff;
    text-decoration: none;
}
.mtab a:active, .mtab a:focus {
    color: #10629e;
    text-decoration: none;
}
#work img {
    background: transparent;
    border: none;
}

/* ==========================================================================
registration section
========================================================================== */
#about {
      color: #fff;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
      height: 100vh;
      text-align: center;
}

#about .btn {
      background: transparent;
      border: 4px solid #28dbff;
      border-radius: 0;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 12px 42px;
      margin-top: 40px;
      margin-right: 16px;
      transition: all 0.4s ease-in-out;
}
#about .btn:hover {
      background: #10629e;
      border-color: transparent;
}
#about .btn-danger {
      background: #10629e;
      border-color: transparent;
}
#about .btn-danger:hover {
      border: 4px solid #28dbff;
      border-radius: 0;
      background: transparent;
      color: #fff;
}
#about #note {
    padding-top: 30px;
    font-size: 16px;
}
#about #note strong {
    color: #1B197F;
}

/* ==========================================================================
about dextra section
========================================================================== */
#dextra {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}

/* ==========================================================================
contact section
========================================================================== */
#contact h2 {
  padding-bottom: 20px;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}

/* ==========================================================================
partners section
========================================================================== */
#dextra .container {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}
#dextra .section-title {
    color: #10629e;
    text-align: center;
}
#dextra img {
    margin: auto;
}
#dextra .carousel-control {
    background-image: none;
    color: #fff;
    opacity: 1;
}
#dextra .fa-chevron-circle-left, #dextra .fa-chevron-circle-right {
    margin-top: 40px;
}

/* ==========================================================================
footer section
========================================================================== */
footer {
    text-align: center;
    background-color: #3B3B3B;
    color: white;
}
footer p {
  padding-top: 20px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #fff;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li #sc:hover {
  color: #fffc00;
}
.social-icon li #fb:hover {
  color: #3b5998;
}
.social-icon li #ins:hover {
  color: #cd486b;
}f

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
    body {
        background-image: none;
        background-color: #3479a5;
    }
}
